<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading myfont">{{ main.username }}'s Profile</h2>
        
    </div>
</div>
<!-- Heading -->

<div class="panel panel-info">

    <!-- Default panel contents -->
    <div class="panel-heading otherfont" style="text-align: center; background-color: cadetblue;"><strong>User Profile</strong></div>

    <!-- Table -->
    <table class="table">
        <tr>
            <td><strong class="otherfont">Username</strong></td>
            <td><strong class="otherfont">Email Address</strong></td>
            <td><strong class="otherfont">Password</strong></td>
        </tr>
        <tr>
            <td>{{ main.username }}</td>
            <td>{{ main.useremail }}</td>
            <td>****************</td>
        </tr>
    </table>
</div>
